<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="f" method="post" action="/process_login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <label for="email">
        Enter your email
    </label>
    <input type="email" id="email" name="email"/>
    <br/>
    <label for="password">Enter your password</label>
    <input type="password" name="password" id="password">
    <br/>
    <input type="submit" value="Login"/>
    <div th:if="${param.error}" style="color: red">
        Bad credentials
    </div>
</form>
</body>
</html>